.user-details .user_data input.form-control:focus {
    background: #f1f3f6;
}

.create_Refree_profile{
    display: grid;
}

.tabstyle{
    display:unset;
}
.navdropdown{
    top: 100%!important;
}

.CompetitionListScroll .grid-container.AllCompetitions   {
    overflow-y: auto;
    height: 400px;
    background: #fdfafa;
}

.select_label_padding .label_padding{
    padding: 17px;
}
.select_player_follow span.select2-selection.select2-selection--single {
    height: 50PX;
    background-color: #f1f3f6;
    border-color: #dee2e6;
}
.select_player_follow span.select2-selection__arrow {
    display: none;
}

.select_player_follow span#select2-team_players-container {
    line-height: 48px;
}

.suggested_player_follow td.game-logo {
    border: none;
}

#editfixtureModal01 .modal-fullscreen-sm-down {
    max-width: 100% !important;
}

.EmailSection .form-control.bg-Clor:focus {
    background-color: transparent;
    padding: 0px;
}

.mg_bottom {
    margin-bottom: 80px;
}

.owlfixtureCal .TableFixtureCalndr {
    white-space: nowrap !important;
}
/* .Competitionn-Page-Additional{
    position: relative;
    z-index: 0;
} */

.crop-circle {
    background-size: cover;
    display: flex;
}
.modal.opacityPop{
    background-color: #00000080;
}
.Competitionn-Page-Additional .ManCity a:hover {
    color: #065596;
    text-decoration: underline;
}
.Competitionn-Page-Additional .EngCity a:hover {
    color: #065596;
    text-decoration: underline;
}

#app .PostDetail .header .deleteicon {
    background-image: none;
    background-repeat: no-repeat;
    background-size: 500px 287px;
    background-position: -242px -245px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.Competitionn-Page-Additional .Player-Profile a:hover {
    color: #065596;
    text-decoration: underline;
}

#comp_matches a.competion_selector{
    color: unset;
}

#comp_matches a.competion_selector:hover{
    color: unset;
}

.playerNme {
    /* margin-left: 20px; */
    height: 40px;
    display: flex;
    margin: auto;
}


span.statviewComp {
    font-size: 16px;
    padding-right: 10px;
    color: #003b5f;
    top: -7px;
    position: relative;
}

.viewTeamFixtures .teamFixutreView{
    width: max-content;
}
.demo-Select .Dropdown-Icon {
   
    text-transform: capitalize;
}
.stattitle {
    width: 22% !important;
}
.ButtonPop2 .bottom{
    display: flex;
    align-items: center;
    justify-content: end;
}

.ownGoalPup{
    top: -28px;
    font-size: 16px;
    color: #5264AE;
    font-family: 'Lato';
    font-weight: 400;
}

.footer-links li a{
    color: #fff !important;
}
.TeamPlayersSlider .nav-link {
    padding: 0.5rem 25px;
}
.KoAdminView .boxSuad {
    height: 100% !important;
}
.KoAdminView .ForeginPlayer {
    height: 100% !important;
}

.createCompPage .floating-label.form-select-fancy-1 {
    display: flex;
    align-items: center;
    z-index: 1;
}
.createCompPage span.round01 {
    right: 24px !important;
}

span.select2-container--default .select2-results__option--disabled {
    color: #999;
    background-color: #ddd;
}

.createCompPage span.select2-dropdown.select2-dropdown--below {
    width: 294px;
}

.createCompPage .select2-container--open .select2-dropdown {
    left: -3px;
}

.createCompPage span.select2-selection__arrow {
    display: none;
}

.createCompPage span.select2-selection.select2-selection--single{
    background-color: #f1f3f6;
    border: none;
}

/* 08-08-2023*/
.btn-crossSocial.crossSocial_a{
    background: none;
} 
.btn-crossSocial .fas.fa-toggle-on{
    color:green;
}
.btn-crossSocial .fas.fa-toggle-off{
    color:gray !important;
}
a.btn.btn-crossSocial .fas.fa-toggle-on {
    text-decoration: none;
}
a.btn.btn-crossSocial .fas.fa-toggle-off {
    text-decoration: none;
}
/* 08-08-2023 End*/
/* 09-08-2023*/
.teamPagePopup .select2-container--default .select2-selection--multiple {
    background-color: #f1f3f6;
    border: 1px solid #aaa !important;
    border-radius: 4px;
    cursor: text;
    padding: 10px 5px;
}
#add_admin .teamPagePopup .select2 {
   
    padding: 0 !important;
}

.ThamnailWithSelect .f-dropdown {
    --max-scroll: 3;
    position: relative;
    z-index: 10;
}
.ThamnailWithSelect  .f-dropdown select {
    display: none;
}
.ThamnailWithSelect .f-dropdown > span {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    position: relative;
    color: #bbb;
    border: 0px solid #ccc;
    
    background: #fff;
    transition: color 0.2s ease, border-color 0.2s ease;
}
.ThamnailWithSelect .f-dropdown > span > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 12px;
    font-size: 27px;
   color: #065596;
}
.ThamnailWithSelect .f-dropdown > span img {
    width: 70px;
    margin-right: 10px;
    border-radius: 100px;
}
.ThamnailWithSelect .f-dropdown > span:before, .f-dropdown > span:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 2px;
    border-radius: 1px;
    top: 50%;
    right: 12px;
    background: #000;
    transition: all 0.3s ease;
}
.ThamnailWithSelect .f-dropdown > span:before {
    margin-right: 4px;
    transform: scale(0.96, 0.8) rotate(50deg);
}
.ThamnailWithSelect .f-dropdown > span:after {
    transform: scale(0.96, 0.8) rotate(-50deg);
}
.ThamnailWithSelect .f-dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    max-height: calc(var(--max-scroll) * 46px);
    top: 65px;
    left: 0;
    z-index: 1;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    transform-origin: 0 0;
    transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transform: translate(0, 5px);
}
.ThamnailWithSelect .f-dropdown ul li {
    padding: 0;
    margin: 0;
}
.ThamnailWithSelect .f-dropdown ul li a {
    cursor: pointer;
    display: block;
    padding: 8px 12px;
    color: #000;
    text-decoration: none;
    outline: none;
    position: relative;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
}
.ThamnailWithSelect .f-dropdown ul li a img {
    width: 30px;
    margin-right: 10px;
    border-radius: 100px;
}
.ThamnailWithSelect .f-dropdown ul li a:hover {
    color: #5c6bc0;
}
.ThamnailWithSelect .f-dropdown ul li.active a {
    color: #fff;
    background: #0a3c5f;
}
.ThamnailWithSelect .f-dropdown ul li.active a:before, .f-dropdown ul li.active a:after {
    --scale: 0.6;
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    right: 12px;
    top: 50%;
    opacity: 0;
    background: #fff;
    transition: all 0.2s ease;
}
.ThamnailWithSelect .f-dropdown ul li.active a:before {
    transform: rotate(45deg) scale(var(--scale));
}
.ThamnailWithSelect .f-dropdown ul li.active a:after {
    transform: rotate(-45deg) scale(var(--scale));
}
.ThamnailWithSelect .f-dropdown ul li.active a:hover:before, .f-dropdown ul li.active a:hover:after {
    --scale: 0.9;
    opacity: 0;
}
.ThamnailWithSelect .f-dropdown ul li:first-child a {
    border-radius: 6px 6px 0 0;
}
.ThamnailWithSelect .f-dropdown ul li:last-child a {
    border-radius: 0 0 6px 6px;
}
.ThamnailWithSelect .f-dropdown.disabled {
    opacity: 0.7;
}
.ThamnailWithSelect .f-dropdown.disabled > span {
    cursor: not-allowed;
}
.ThamnailWithSelect .f-dropdown.filled > span {
    color: #000;
}
.ThamnailWithSelect .f-dropdown.open {
    z-index: 15;
}
.ThamnailWithSelect .f-dropdown.open > span {
    border-color: #aaa;
}
.ThamnailWithSelect .f-dropdown.open > span:before, .f-dropdown.open > span:after {
    background: #000;
}
.ThamnailWithSelect .f-dropdown.open > span:before {
    transform: scale(0.96, 0.8) rotate(-50deg);
}
.ThamnailWithSelect .f-dropdown.open > span:after {
    transform: scale(0.96, 0.8) rotate(50deg);
}
.ThamnailWithSelect .f-dropdown.open ul {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 12px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}
/* --------------------------- */
.ThamnailWithSelect .f-group {
    /* max-width: 250px; */
    margin: 0 auto;
    text-align: left;
}
.ThamnailWithSelect .f-group select {
    width: 100%;
}
.ThamnailWithSelect .f-control {
    font-size: 14px;
    line-height: normal;
    color: #000;
    display: inline-block;
    background-color: #fff;
    border: #ccc 1px solid;
    border-radius: 6px;
    padding: 8px 12px;
    outline: none;
    max-width: 250px;
}

.compLinkmrgTop{
    margin-top: 12rem;
}

/* 09-08-2023 End*/
/* 10-08-2023 */
#FullStatTable div#ScrollRight {
    overflow-y: scroll !important;
    height: auto;
}
#FullStatTable .modal-fullscreen-sm-down .modal-body{
    overflow: unset;
}
.iconSpacingLR{
    margin: auto 5px;
    cursor: pointer;
}
.statviewComp a{
    text-decoration: unset;
    color: #000;
}
#addcomprules .message.word-wrap a:hover {
    color: #000 !important;
    text-decoration: unset !important;
}
@media (min-width: 576px){
    #addcomprules .modal-dialog.modal-lg.comp_add_rule_model {
    max-width: 1140px !important;
    margin: 1.75rem auto;
    }
}
/* 10-08-2023 End*/
/* 11-08-2023 */

#teamattendees .modal-dialog {
    max-width: 35% !important;
}
#teamattendees a:hover {
    color: #065596 !important;
    text-decoration: underline;
}

.user-profile-detail-Team.float-start.w-auto a:hover {
    color: #065596 !important;
    text-decoration: underline;
}
.compRuleSetDisplay .list-group-numbered>li::before {
    padding: unset !important;
}
.box-outer-lightpink.AboutSocalSec.compRuleSetDisplay {
    border: none !important;
}

/* 11-08-2023 End*/
#ScrollRightBlue::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#ScrollRightBlue::-webkit-scrollbar
{
    width: 4px;
    height: 4px;
    background-color: #F5F5F5;
}

#ScrollRightBlue::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #04395b;
}
.I-CreatedList .CompetitionListScroll {
    width: 100%;
}

.Competitionn-Page-Additional .FaCupClor a:hover {
    color: #065596;
    text-decoration: unset;
}


.SendInvitationTeam .select2-container{
    z-index: 0;
}
.ruleSetView a.btn.ruleSetViewBtn {
    color: #065596;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    
}
.inputtcla.position-absolute {
    right: 13px;
    top: 7px;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px;
}

.Player-public-pro .container {
    width: 100% !important;
}
.mRemoveSelectPlayer .select_player{
    margin: 4px 0px !important;
    padding: 0px 4px !important;
}

.FlotingLabelUp.mb-20 {
    margin-bottom: 20px;
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .pT100{
        padding-top: 118px !important;
    }
    .CompetitionListScroll{
        width: 100% !important;
    }
    .CompetitionListScroll .grid-container {
        overflow-y: unset !important;
     
    }
    .CompetitionListScroll .grid {
             overflow-y: scroll;
    }
    /* 07-08-2023 */
    .letschat {
        padding: 10px 17px !important;
    }
    .social_icons {
        padding: 10px 10px !important;
    }
    /* 07-08-2023 End*/

    .TeamPlayersSlider .nav-link {
        padding: 0.5rem 14px;
    }

    .Competitionn-Page .btn-secondaryNew {
        font-size: 20px !important;
    }

    .Man_of_theMatch_teamPage{
        display: block !important;
    }
    .Team-Public-ProfileParent .mAuto0.stattitle {
        width: 25% !important;
    }
    
    
    .col-md-6.m-auto.col-12.TabView .DonutLP{
        padding-left: 12px;
    }
    .Team-Public-ProfileParent .mAuto0{
        width: 29% !important;
    }
    
    #editfixtureModal01 .col-xl-4 {
        width: 50%;
    }
    .matchPointTable .item .TableBox.d-flex  td {
        padding: 0 11px !important;
      }
      .owlTableMatchGoal.matchPointTable .SlectTableGroup {
    
        padding: 18px 0px !important;
    }
    .MAn-of-The-Match.player_of_the_match{
        padding: 0px 24px;
        font-size: 14px;
        width: 13%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 320px) and (max-width: 990px){
    .CategoryTab .screenshotImageLeft {
        
        right: 65px;
        
    }
    .CategoryTab .screenshotImage {
       
        left: 65px;
       
    }

}